html {
    font-size: 16px;
}

@media only screen and (max-width: 599px) {
    html {
        font-size: 12px;
    }
}

body {
    margin: 0;
}

:root {
    font-family: Poppins, sans-serif;

    color-scheme: light dark;
    color: #213547;
    background-color: #fefefe;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        color: #fefefe;
        background-color: #213547;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
} */